body
	{margin:0px;color:#000;font-family:Helvetica,Arial,sans-serif;font-size:16px;background:#fff;height:100%;}

h1, h2
	{font-size:2em;color:#fff;text-shadow:0px 0px 4px #888;text-transform:none;word-wrap:initial;font-family:Helvetica,Arial,sans-serif;font-weight:bold !important;text-rendering:optimizelegibility;padding:0px;border:none;box-sizing:border-box;margin:1em 0px;}

h2
	{font-size:1.5em;color:#ff3;margin:-1.5em 0px;}

a, a:active
	{text-decoration:none;}

.section
	{margin:3em auto;padding:0px;}

.section > a
	{float:left;margin-right:10px;border:1px solid #aaa;background:#efefef;color:#666;width:25px;height:20px;border-radius:0.25em;text-align:center;cursor:pointer;font-size:90%;}

.brochure, .brochure-sm, .dets
	{color:#fff;text-shadow:0px 0px 2px #000;font-weight:bold;}

.brochure > div, .brochure-sm > div
	{padding:1em 2.35%;display:inline-block;height:3em;vertical-align:top;width:45%;position:relative;margin-bottom:2px;}

.brochure-sm > div
	{padding:2em 2% 1em;height:4em;}

.attr
	{background:#f46;text-align:right;left:0px;}

.val
	{background:#069;right:0px;}

.year
	{font-size:2em;position:absolute;left:1em;vertical-align:top;}

.brochure-sm span.year
	{font-size:1.5em;left:5px;top:5px;}

.dets
	{background:#d53;padding:1em;font-size:1.25em;position:relative;}

.dets span
	{position:absolute;right:1em;font-size:0.75em;vertical-align:top;}

.small div.dets span
	{font-weight:normal;font-size:0.5em;top:5px;right:5px;}

.roles
	{background:#bbb;padding:1em 2%;width:96%;font-weight:bold;}

.desc, .tech, .more
	{padding:10px;background:#efefef;border:1px solid #aaa;border-top:none;}

.tech
	{background:#ff9;font-weight:bold;}

.more
	{border-bottom-left-radius:1em;border-bottom-right-radius:1em;text-align:center;color:#666;font-size:0.65em;margin-bottom:2em;}

.more:hover, button:hover
	{color:#00f;border-color:#66f;background:#fff;cursor:pointer;}

#masthead
	{position:fixed;top:0px;height:50px;width:100%;background:url(../img/greybg.png);z-index:100;cursor:default;}

#menubut, #masthead a, #menu a
	{color:#fff;font-size:40px;font-weight:bold;text-shadow:0px 0px 2px #000;float:right;margin:0px 10px;}

#menubut:hover, #menu a:hover
	{color:#ff6;cursor:pointer;}

#menu
	{position:fixed;top:0px;right:0px;width:15em;background:#444;padding-top:50px;text-align:center;z-index:50;}

#menu a
	{float:none;display:block;margin:0px;font-size:20px;padding:10px;border-top:1px solid #666;}

#menu a:hover
	{font-size:22px;padding:9px;background:url(../img/greybg.png);}

#cover
	{width:100%;height:auto;z-index:-10;text-align:center;}

#title, #title-sm
	{position:absolute;top:20%;left:0px;right:0px;bottom:0px;width:100%;}

#title
	{font-size:4vw;}

#title-sm
	{top:50px;}

#skills.brochure > div
	{height:5em;}

#skills.brochure-sm > div
	{height:18em;padding:0.5em 2%;}

#skills div.attr
	{background:#288;}

#skills span
	{float:right;font-size:1.5em;margin-right:2%;}

#skills.brochure-sm div.val
	{font-weight:normal;}

#tail
	{width:100%;height:100px;color:#fff;margin-top:100px;}

#tail a
	{color:#fff;}

#tail img
	{vertical-align:middle;margin-top:-10px;margin-right:20px;}

#tail span
	{float:left;width:33%;display:inline-block;}

#thx, #pdf, #linked
	{height:60px;padding:20px;text-align:center;background:#63a;font-size:2em;font-weight:bold;text-shadow:0px 0px 2px #304;cursor:default;}

div#thx
	{height:80px;padding:10px;}

span#thx
	{padding:30px 20px 10px;}

#pdf, #linked
	{background:#c11e07;cursor:pointer;font-size:1em;}

#pdf:hover
	{background:#900}

#linked
	{background:#007fb2;min-width:300px;text-align:right;}

#linked:hover
	{background:#05a}

#lin
	{font-weight:bold;font-size:1.5em;margin-top:-1.35em;}

